*.iml
*.ipr
*.iws
.DS_Store
.classpath
.externalNativeBuild
.gradle
.idea/
.project
.settings
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
bin/
classes/
drishti-app/tmp/
gen/
jacoco.exec
local.properties
opensrp-unicef-tunisia/fabric.properties
opensrp-unicef-tunisia/jacoco.exec
opensrp-unicef-tunisia/reports/
opensrp-unicef-tunisia/debug/
opensrp-unicef-tunisia/debug/output-metadata.json
opensrp-unicef-tunisia/preview/
opensrp-unicef-tunisia/release/
out/
project.properties
target/
tmp/
/google-services.json
